html, body {
    width: 99%;
    height: 99%;
}
body {
    background: #354649;
    font-family: 'Raleway', sans-serif;
}
#main {
    min-height: 99%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
article {
    flex-grow: 1;
    background: #A3C6C4;
    border: 1px dashed white;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    text-align: justify;
    font-size: 20px;
    margin-top: 30px;
}
nav, article, footer {
    flex-shrink: 0;
}
nav {
    background-color: #6C7A89;
    border-radius: 10px;
}
nav ul li{
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: bold;
    justify-content: space-around;
    color: #A3C6C4;
}
a {
    text-decoration: none;
}
li a:visited {
    color: #354649;
}
li a:hover {
  color: #A3C6C4;
}
li a:visited:hover {
    color: #A3C6C4;
}
h1 {
    color: #A3C6C4;
    text-align: center;
    margin-top: 30px;
}
footer {
    background-color: #6C7A89;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 99%;
}
footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    font-size: 2em;
    color: #A3C6C4;
}
article img {
    position: relative;
    float: right;
}
.medals {
    background: grey;
    padding: 10px;
    border: 1px solid black;
}
.medals span {
    display: inline-block;
    line-height: 25px;
    margin: -3px;
}
.awards {
    line-height: 50px;
}