html {
    height: 100%;
}

body {
    background: #354649;
    font-family: 'Raleway', sans-serif;
}

nav {
    background-color: #6C7A89;
    border-radius: 10px;
}

nav ul li{
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: bold;
    justify-content: space-around;
    color: #A3C6C4;
}

a {
    text-decoration: none;
}
li a:visited {
    color: #354649;
}

nav li a:hover {
  color: #A3C6C4;
}

nav li a:visited:hover {
    color: #A3C6C4;
}

h1{
    color:#A3C6C4;
    text-align:center;
    margin-top: 30px;
}
.infoContainer {
    background: #A3C6C4;
    border: 1px dashed white;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    margin: 30px;
    text-align: justify;
    font-size: 20px;
    margin-top: 30px;
}
footer {
    background-color: #6C7A89;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 99%;
}
footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    font-size: 2em;
    color: #A3C6C4;
}

.infoContainer img {
    position: relative;
    float: right;
}
.personalImg {
    float: left;
    margin-left: 20px;
    }